 <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Yeni Üyelik Oluştur</h4>
                                        <p class="sub-header">Bu bölümden sistemi kullanmak üzere yeni üye oluşturabilirsiniz.</p>

                                        <form action="/admin/users/<%= thisUser._id %>" method="post">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">İsim</label>
                                                            <input type="text" name="name" class="form-control" placeholder="İsim" value="<%= thisUser.user_info.user_name %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Soyisim</label>
                                                            <input type="text" name="surname" class="form-control" placeholder="Soyisim" value="<%= thisUser.user_info.user_surname %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Email Adresi</label>
                                                            <input type="email" name="email" class="form-control" placeholder="Email" value="<%= thisUser.user_info.user_email %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Telefon Numarası</label>
                                                            <input type="tel" name="phone" class="form-control" placeholder="Telefon" value="<%= thisUser.user_info.user_phone %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Hesap Şifresi</label>
                                                            <div class="input-group">
                                                                <input type="password" name="password" class="form-control" placeholder="Yeni Şifreniz" required>
                                                                <span class="input-group-text eye-icon" style="cursor: pointer;"><i class="mdi mdi-eye"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Hesap Şifresi Tekrarı</label>
                                                            <div class="input-group">
                                                                <input type="password" name="password2" class="form-control" placeholder="Yeni Şifre Tekrarı" required>
                                                                <span class="input-group-text eye-icon" style="cursor: pointer;"><i class="mdi mdi-eye"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Toplam Ürün Ekleme Limiti</label>
                                                            <input type="text" name="limit" class="form-control" placeholder="Limit" value="<%= thisUser.user_limit.product_limit %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Günlük Ürün Ekleme Limiti</label>
                                                            <input type="text" name="dailyLimit" class="form-control" placeholder="Günlük Limit" value="<%= thisUser.user_limit.daily_limit %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Hesap Türü</label>
                                                            <select name="admin" class="form-control">
                                                                <option value="false" <%= (thisUser.user_admin == false) ? 'selected' : '' %> >Üye</option>
                                                                <option value="true"  <%= (thisUser.user_admin == true) ? 'selected' : '' %> >Yönetici</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="name">Abonelik Son Kullanım Süresi (Kalan Gün Sayısı <span class="remainderDay text-primary"></span>)</span></label>
                                                            <%
                                                            const formateDate = (getDate)=>{
                                                                let partials = getDate.split('.');
                                                                let newDate = partials[2] + '-' + partials[1] + '-' + partials[0];
                                                                return newDate
                                                            }
                                                            %>
                                                            <input type="date" name="expiration" class="form-control" placeholder="Limit" value="<%=formateDate(thisUser.user_expirationDate) %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-3 d-none" id="badge">
                                                    <div class="badge bg-danger text-white w-100 px-1 py-2" style="font-size: 14px;text-align: left;">
                                                        <ul class="m-0"></ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="text-align: right;">
                                                    <button type="button" id="newUserBtn" class="btn btn-success">Kullanıcıyı Güncelle</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- end row-->

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


            <script>

                const remainingDate = (getDate) => {

                    var parcalar2 = getDate.split('-');
    
                    // Yeni tarih formatını oluştur
                    var yeniTarih = parcalar2[2] + '.' + parcalar2[1] + '.' + parcalar2[0];
                    
                    getDate = yeniTarih

                    // Bugünün tarihini al
                    var bugun = new Date();

                    // Hedef tarihi oluştur (gün, ay, yıl olarak parçalıyoruz)
                    var parcalar = getDate.split(".");
                    var hedefTarih = new Date(parcalar[2], parcalar[1] - 1, parcalar[0]);

                    // Gün farkını hesapla
                    var difference = Math.ceil((hedefTarih - bugun) / (1000 * 60 * 60 * 24));

                    return difference;
                }

                $(document).ready(function () {
                    function checkFormValidity() {
                        var isValid = true;
                        // Hata mesajını temizle
                        $('#badge').addClass('d-none');
                        $('#badge ul').empty();

                        // İsim, Soyisim, Email, Telefon, Hesap Şifresi, Hesap Şifresi Tekrarı alanlarının boş olup olmadığını kontrol etme
                        var emptyFieldMessageAdded = false; // Boş alan mesajını eklenip eklenmediğini kontrol etmek için flag
                        $('input[name="name"], input[name="surname"], input[name="email"], input[name="phone"], input[name="limit"], input[name="dailyLimit"], input[name="expiration"]').each(function(){
                            if($(this).val() === '') {
                                isValid = false;
                                if (!emptyFieldMessageAdded) {
                                    $('#badge ul').append('<li>Lütfen tüm alanları doldurun.</li>');
                                    emptyFieldMessageAdded = true; // Boş alan mesajını ekledik
                                }
                            }
                        });

                        // Email adresinin geçerli bir formatta girilip girilmediğini kontrol etme
                        var email = $('input[name="email"]').val();
                        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                        if (!emailPattern.test(email)) {
                            isValid = false;
                            $('#badge ul').append('<li>Email alanı eksik girildi.</li>');
                        }

                        // Şifrelerin eşleşip eşleşmediğini kontrol etme
                        if($('input[name="password"]').val() != "" || $('input[name="password2"]').val() != ""){
                            if ($('input[name="password"]').val() !== $('input[name="password2"]').val()) {
                                isValid = false;
                                $('#badge ul').append('<li>Şifreler eşleşmiyor.</li>');
                            }
                        }

                        // Şifrenin uzunluğu ve içeriği kontrol etme
                        if($('input[name="password"]').val() != "" || $('input[name="password2"]').val() != ""){
                            var password = $('input[name="password"]').val();
                            if (password.length < 8 || !(/[A-Z]/.test(password)) || !(/[a-z]/.test(password)) || !(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password))) {
                                isValid = false;
                                $('#badge ul').append('<li>Yeni şifre en az 8 karakter uzunluğunda olmalı ve büyük harf, küçük harf ve bir sembol içermelidir.</li>');
                            }
                        }

                        if (!isValid) {
                            $('#badge').removeClass('d-none');
                        }
                    }
            
                    $('#newUserBtn').on('click', function () {
                        // Formun doğruluğunu kontrol et
                        checkFormValidity();
            
                        // Hata varsa
                        if ($('#badge li').length > 0) 
                            return;
                        
            
                        // Hata yoksa formu submit et
                        $('form').submit();
                    });

            
                    $('.eye-icon').on('click', function () {
                        var input = $(this).prev('input');
                        var type = input.attr('type') === 'password' ? 'text' : 'password';
                        input.attr('type', type);
                    });
                    
                    let expirationDay = remainingDate($("input[name=expiration]").val())
                    $(".remainderDay").html(expirationDay + " Gün")

                    $("input[name=expiration]").change(function(){
                        $(".remainderDay").html(remainingDate($(this).val()) + " Gün")
                    })

            
                });
            </script>